$primary_color: #ff7a57;
$secondary_color: #343a40;
$text_color: #495057;
$light_color: #fff;
$light_bg: #f8f9fa;
$hover_color_2: rgba(255, 122, 87, 0.6);
$hover_color_3: rgba(255, 122, 87, 0.6);
$hover_color-1: rgba(0, 0, 0, 0.7);
$font_family: "Poppins", sans-serif;
$spacer: 8px;
